.c-billing-hub {
  background-color: red;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(400px, 3fr);
  /* grid-template-rows: 1fr; */
  min-height: 100vh;
}

.c-billing-hub__aside {
  padding: 1.5rem;
}


.b-merchant-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.b-merchant-list__item {
  list-style: none;
  text-align: initial;
  padding: 8px 0px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.b-merchant-list__item:first-child {
  border-top: 1px solid black;
}


.b-merchants__title {
  text-align: left;
}
