/* ************** */
/* Main view */
/* ************** */


.c-billing-hub {
  display: flex;
}

.c-billing-hub__aside {
  padding: 1.5rem;
  flex: 1 0 25%;
  border-right: 2px solid black;
}

.c-billing-hub__main {
  flex: 3 0 75%;
}







/* ************** */
/* Merchants list */
/* ************** */


.b-merchant-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.b-merchant-list__item {
  list-style: none;
  text-align: initial;
  padding: 8px 0px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.b-merchant-list__item:first-child {
  border-top: 1px solid black;
}


.b-merchants__title {
  text-align: left;
}


.selected {
  font-weight: bold;
}
